/* reset defaults */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family:'Libre Franklin', sans-serif;
    font-size: 62.5%;
    --submit-form-bg: hsl(223, 87%, 63%);
    --box-shadow: hsl(223, 100%, 88%);
    --error-color: hsl(354, 100%, 66%);
    --grey:hsl(0, 0%, 59%);
    --dark-blue:hsl(209, 33%, 12%);
}
body {
    max-height: 100vh;
    display:flex;
    justify-content: center;
}
/* MAIN STYLES */
main {
    max-width:890px;
    /* border:1px solid red; */
    max-height:100vh;
}

.logo-div {
    display: flex;
    justify-content: center;
    padding:1rem;
}

.logo {
    width:6rem;
    height:auto;
}
h1 {
    text-align: center;
    font-size:4rem;
    font-weight:300;
    color: var(--grey);
}

h1 span {
    font-weight:700;
    color: var(--dark-blue);
}

.subscribe-message {
    font-size:1.4rem;
    text-align: center;
    padding:0.5rem;
}

/* form styles */
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin:2rem 0;
    gap:1rem;
    padding:1rem;
    margin:0 10rem;
    /* border:1px solid yellow; */
}

.input-container {
    flex:2 1 25rem;
}
input {
    border-radius: 4rem;
    padding:1rem;
    width: 100%;
    border:2px solid var(--box-shadow);
}

.submit-button {
    padding:1rem;
    border-radius:4rem;
    flex:1 1 10rem;
    margin:0 1rem;
    background-color:var(--submit-form-bg);
    border:none;
    color: white;
}

.submit-button:hover {
    cursor: pointer;
    box-shadow:0px 3px 20px var(--box-shadow);
}
/* main image styles */
.main-image-container {
    width: 100%;
    /* height: 100%; */
    /* border:1px solid blue; */
    padding:2rem;
}

.main-image-container img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

/* social icons syles */
.social-icons {
    /* border:1px solid purple; */
    display:flex;
    justify-content: center;
    padding:0.5rem;
}

.fa-brands {
    width: 3rem;
    height: 3rem;
    padding:0.7rem;
    font-size:1.6rem;
    /* border:1px solid gold; */
    border-radius: 50%;
    /* background-color: gray; */
    color:var(--submit-form-bg);
    margin:0rem 0.5rem;
}

.fa-brands:hover {
    color:white;
    background-color: var(--submit-form-bg);
    cursor: pointer;
}
.copyright-paragraph {
    text-align:center;
    font-size:1rem;
    padding:0rem 1rem 1rem;
    color:var(--grey);
}

/* error styles */
.error-message {
    color: red;
    font-style: italic;
    font-size:1.2rem;
    visibility:hidden;
}

/* mobile media query */
@media only screen and (max-width: 375px) {
    html {
        font-size: 55%;
    }
    main {
        width:90%;
    }
}